.publicHome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  min-height: 100vh; 
  background-image: url("../../assets/homeBg1.jpg");
  background-size: cover;
  background-repeat: no-repeat; 

  .publicHome_left {
    video {
      width: 550px;
      height: 550px;
      outline: none;
      pointer-events: none;
    }
    .no-controls::-webkit-media-controls {
      display: none !important;
    }
      @media screen and (max-width: 930px) {
        display: none;
        
      }
  }
  .sign-up-label {
    margin: 0;
    font-size: 15px;
    padding: 11px;
    color: #747474;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-top: 15px;

    span {
      color: rgb(61, 174, 174);
      cursor: pointer;
      padding-left: 7px;
    }
  }
}
