.container {
  position: relative;
  max-width: 500px;
  width: 100%;
  background-image: linear-gradient(
    179deg,
    rgba(0, 0, 0, 1) 9.2%,
    rgba(127, 16, 16, 1) 103.9%
  );
  padding: 35px 35px;
  border-radius: 8px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.635);
  color: wheat;
  .logo_text{
    color: rgb(251,50,50);
  }
  .form {
    margin-top: 15px;

    button {
      height: 40px;
      width: 100%;
      color: #000;
      font-size: 1rem;
      font-weight: 400;
      margin-top: 15px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.2s ease;
      background: #ee4e34;

      &:hover {
        background: #8b3834;
      }
    }

    .gender {
      column-gap: 5px;

      input {
        accent-color: #ee4e34;
      }
    }

    :where(.gender input, .gender label) {
      cursor: pointer;
    }

    :where(.gender-option, .gender) {
      display: flex;
      align-items: center;
      column-gap: 50px;
      flex-wrap: wrap;
    }

    .gender-box {
      margin-top: 10px;
    }

    .column {
      display: flex;
      column-gap: 45px;
    }

    :where(.input-box input, .select-box, .input-box textarea) {
      position: relative;
      height: 35px;
      width: 100%;
      outline: none;
      font-size: 1rem;
      color: #808080;
      margin-top: 5px;
      border: 1px solid #de2509;
      border-radius: 6px;
      padding: 0 15px;
      background: #fcedda;
      resize: none;
    }

    .input-box {
      width: 100%;
      margin-top: 10px;

      .select-box select {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        color: #808080;
        font-size: 1rem;
        background: #fcedda;
      }

      textarea {
        height: 70px;
      }

      label {
        color: wheat;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .column {
    display: flex;
    flex-direction: column;
    column-gap: 45px;
  }
  
}