@import '../../styles/variables.scss';


.setUp_account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $page_background_color;
  padding: 35px 11px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 600px) {
    padding: 0px;
    display: block;
  }
}
