.landing_page_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 130px;
  }

  .landing_page_nav_btn {
    display: flex;
    gap: 21px;

    .landing_page_nav_btn_login {
      border: none;
      background-color: transparent;
      font-size: 21px;
      font-weight: 600;
      font-family: "Times New Roman", Times, serif;
      cursor: pointer;
      color: black;
    }
    .landing_page_nav_btn_signUp {
      cursor: pointer;
      --primary-color: rgba(255, 48, 48, 0.587);
      --secondary-color: #fff;
      --hover-color: #111;
      --arrow-width: 10px;
      --arrow-stroke: 2px;
      box-sizing: border-box;
      border: 0;
      border-radius: 20px;
      color: var(--secondary-color);
      padding: 1em 1.8em;
      background: var(--primary-color);
      display: flex;
      transition: 0.2s background;
      align-items: center;
      gap: 0.6em;
      font-weight: bold;

      .arrow-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .arrow {
        margin-top: 1px;
        width: var(--arrow-width);
        background: var(--primary-color);
        height: var(--arrow-stroke);
        position: relative;
        transition: 0.2s;
      }

      .arrow::before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        border: solid var(--secondary-color);
        border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
        display: inline-block;
        top: -3px;
        right: 3px;
        transition: 0.2s;
        padding: 3px;
        transform: rotate(-45deg);
      }

      &:hover {
        background-color: var(--hover-color);
      }

      &:hover .arrow {
        background: var(--secondary-color);
      }

      &:hover .arrow:before {
        right: 0;
      }
    }
  }
}
