.profile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 6em;
  border-radius: 15px;
  background-color: rgba(228, 224, 224, 0.345);
  align-items: center;
  width: fit-content;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  .profile_header {
    width: 100%;
    position: relative;

    .edit_profile {
      position: absolute;
      top: 10px;
      right: 11px;
    

      button {
        border-radius: 15px;
        background-color: transparent;
        padding: 5px;
        cursor: pointer;
        border: none;
        margin-bottom: 7px;
        margin-left: 5px;
        color: #000;
        i {
          padding-right: 3px;
        }
        &:hover {
          background-color: #918f8f;
          @media screen and (max-width: 720px) {
            background-color: transparent;
          }
        }
        @media screen and (max-width: 720px) {
          padding: 0;
          background-color: transparent;
        }
      }
      @media screen and (max-width: 580px) {
        top: 0px;
        left: 17.5em;
      }
    }

    .profile_profile_photo {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid white;
      }
      .profile_change_profile_btn {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-41%, -50%);
        padding: 1em 1.1em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #ffffff9a;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
      }
    }
  }
  .profile_details {
    padding: 0px 15px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    max-width: 500px;

    input,
    select,
    textarea {
      font-size: 16px;
      padding: 10px 10px 10px 5px;
      width: 100px;
      border: none;
      border-bottom: 1px solid #515151;
      background: transparent;
      margin: 0px 3px;
      color: #000;
      outline: none;

      @media screen and (max-width: 580px) {
        width: 60px;   
      }
    }
    textarea {
      width: 370px;
      resize: none;
      @media screen and (max-width: 580px) {
        width: 340px;   
      }
    }
    .profile_details_title {
      opacity: 0.7;

      input {
        width: 350px;
      }
    }

    .age {
      color: rgb(255, 49, 49);
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    .profile_details_flex {
      display: flex;
      gap: 15px;

      i {
        padding-right: 5px;
      }
      p {
        padding: 11px;
        border: 2px solid rgba(86, 86, 86, 0.591);
        border-radius: 11px;
      }
    }
    button {
      padding: 1.3em 3em;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: #000;
      background-color: #ffffff9a;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
      margin: 11px 0px;

      &:hover {
        background-color: rgb(255, 47, 49);
        box-shadow: 0px 15px 20px rgba(255, 47, 50, 0.53);
        color: #fff;
        transform: translateY(-7px);
      }
      &:active {
        transform: translateY(-1px);
      }
    }
    .select_looking {
      select {
        width: fit-content;
      }
    }
    .profile_details_looking {
      background-color: rgb(255, 49, 49);
      color: #ffdd03;
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 7px 17px;
      border-radius: 15px;
      font-size: 19px;
      margin-top: 5px;
      font-family: "Courier New", Courier, monospace;

      img {
        width: 37px;
        height: 37px;
      }
    }
  }
  .profile_photos_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 7px;

    button {
      padding: 1.3em 3em;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: #000;
      background-color: #ffffff9a;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
      margin: 15px 0px 7px 0px;
    }
    button:hover {
      background-color: rgb(255, 47, 49);
      box-shadow: 0px 15px 20px rgba(255, 47, 50, 0.53);
      color: #fff;
      transform: translateY(-7px);
    }
    button:active {
      transform: translateY(-1px);
    }
    .profile_photos_filter {
      p {
        font-size: 21px;
        font-weight: 600;
        transition: transform 0.3s ease, background-color 0.3s ease,
          border 0.3s ease;

        &:hover {
          border-radius: 15px;
          color: rgb(58, 58, 58);
        }
      }
      .photos_length_span {
        background-color: rgb(107, 107, 107);
        padding: 6px 14px;
        border-radius: 50%;
        color: white;
        margin-left: 3px;
      }
    }
    .profile_photos {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-height: 850px;
      overflow-y: auto;
      margin-top: 7px;

      .photo_container {
        position: relative;

        img {
          width: 300px;
          height: 400px;
          border-radius: 15px;
          margin: 10px;
          @media screen and (max-width: 720px) {
            width: 200px;
            height: 300px;
          }
          @media screen and (max-width: 580px) {
            width: 150px;
            height: 240px;
          }
        }
        span {
          position: absolute;
          top: 17px;
          right: 17px;
          background: rgba(255, 0, 0, 0.756);
          color: white;
          border-radius: 50%;
          padding: 2px 7px;
          cursor: pointer;
        }
      }
    }
  }
  hr {
    width: 100%;
    height: 2px;
    margin-top: 10px;
    @media screen and (max-width: 580px) {
      display: none;
    }
  }

  @media screen and (max-width: 580px) {
    width: 350px;
  }
}
