.slide_container {
  flex: 1;
  background-color: rgb(78, 78, 78);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  .slide {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 640px;
    background-color: rgb(143, 141, 141);
    margin: 0 auto;
    border-radius: 15px;
    .blur{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 200px;
      background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 54%, rgba(0,0,0,0.7344187675070029) 71%, rgba(0,0,0,0.5355392156862745) 81%, rgba(0,0,0,0.40948879551820727) 86%, rgba(0,0,0,0.23021708683473385) 91%, rgba(0,0,0,0.048144257703081283) 96%, rgba(0,0,0,0) 100%);
    }
    img {
      width: 400px;
      height: 530px;
      border-radius: 15px;
    }

    .photo_arrows {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      display: flex;
      gap: 20rem;
      i {
        font-size: 2rem;
        color: white;
        cursor: pointer;
      }
    } 
    .slide_content {
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 380px;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 10px;

      .slide_top {
        display: flex;
        gap: 15px;
        align-items: center;
        height: 20px;
        p{
          font-size: 25px;
          font-weight: 600;
        }
      }

      .slide_middle {
        height: 20px;
        p{
          font-size: 21px;
          font-weight: 400;
        }
      }
      .slide_bottom {
        margin-top: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .slide_buttons {
        display: flex;
        gap: 15px;
        margin-top: 10px;
        button {
          background-color: #f5f5f5;
          border: none;
          padding: 10px 20px;
          cursor: pointer;
        }
      }
    }
  }
}
