@import "../../styles/variables.scss";

.slide_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  .slide {
    color: white;
    font-family: "Courier New", Courier, monospace;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 640px;
    background-color: rgb(54, 54, 54);
    margin: 0 auto;
    border-radius: 15px;
    width: 420px;

    .slide_msg {
      font-size: 2em;
      position: absolute;
      border-radius: 15px;
      padding: 20px;
      font-weight: 700;

      &.skip_msg {
        border: 5px solid rgba(255, 0, 0, 0.842);
        top: 7%;
        right: 7%;
        transform: rotate(10deg);
        color: rgba(255, 0, 0, 0.797);
      }
      &.like_msg {
        border: 5px solid rgba(251, 2, 255, 0.842);
        top: 8%;
        right: 63%;
        transform: rotate(340deg);
        color: rgba(251, 2, 255, 0.842);
      }
    }

    .like_msg {
      font-size: 2em;
      position: absolute;
      font-weight: 700;
      padding: 20px;
      border: 5px solid rgba(255, 0, 0, 0.842);
      border-radius: 15px;
      top: 7%;
      right: 60%;
      transform: rotate(340deg);
      color: rgba(255, 0, 0, 0.797);
    }

    .blur {
      position: absolute;
      bottom: 0;
      border-radius: 15px;
      width: 100%;
      height: 200px;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 54%,
        rgba(0, 0, 0, 0.7344187675070029) 71%,
        rgba(0, 0, 0, 0.5355392156862745) 81%,
        rgba(0, 0, 0, 0.40948879551820727) 86%,
        rgba(0, 0, 0, 0.23021708683473385) 91%,
        rgba(0, 0, 0, 0.048144257703081283) 96%,
        rgba(0, 0, 0, 0) 100%
      );
      @media screen and (max-width: 430px) {
        height: 520px;
        border-radius: 0px;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 1) 54%,
          rgba(0, 0, 0, 0.719) 71%,
          rgba(0, 0, 0, 0.09) 81%,
          rgba(0, 0, 0, 0.015) 86%
        );
      }
    }
    img {
      width: 420px;
      height: 530px;
      border-radius: 15px;
      @media screen and (max-width: 430px) {
        width: 100%;
      }
    }

    .photo_arrows {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      display: flex;
      gap: 20rem;
      i {
        font-size: 2rem;
        color: white;
        cursor: pointer;
      }
    }
    .slide_content {
      position: absolute;
      top: 83%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 380px;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0px 10px;
      max-width: 370px;

      .slide_top {
        display: flex;
        gap: 15px;
        align-items: center;
        height: 20px;
        max-width: 430px;
        h1 {
          cursor: pointer;
        }
        p {
          font-size: 25px;
          font-weight: 600;
        }
      }

      .slide_middle {
        height: 20px;
        margin-top: 15px;

        p {
          font-size: 21px;
          font-weight: 400;
        }
      }
      .slide_bottom {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        .slide_bottom_bio {
          margin-top: 15px;
          opacity: 0.6;
          padding-bottom: 5px;
        }
      }
      .slide_buttons {
        display: flex;
        gap: 50px;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        margin-right: 17px;
        .button_left {
          background-color: rgb(57, 57, 57);
          cursor: pointer;

          .fa-xmark {
            color: white;
          }
          &:hover {
            background-color: rgb(194, 22, 22);
            .fa-xmark {
              scale: 1.2;
            }
          }
        }
        .button_right {
          background-color: rgb(206, 82, 37);
          cursor: pointer;
          .fa-heart {
            color: white;
          }
          &:hover {
            background-color: rgb(255, 49, 49);
            .fa-heart {
              scale: 1.2;
              color: rgb(51, 42, 42);
            }
          }
        }

        button {
          width: 140px;
          border-radius: 15px;
          height: 40px;
          border: none;
        }
      }
    }
    @media screen and (min-width: 1300px) {
      width: 90%;
    }
    @media screen and (max-width: 430px) {
      width: 100%;
      height: 100vh;
    }
  }
}

.noMoreUsers {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
